$navbarBg: #343a40;
$welcomeBg: #c8c8c8;
$white: #ffffff;
$black: #000000;
$orange: #e68f2c;
$red: #dc3545;
$darkRed: #da0c20;
$blue: #000bad;
$footerLink: #40bcf9;
$gray: #4a4a4a;
$bookInfoBg: #f2f2f2;
$imgBorder: #dee2e6;
$imgBg: #f8f9fa;
