html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1 0 auto;
}

.navTitle:hover,
.apiLink:hover {
  color: #e68f2c !important;
}

.subTitle {
  text-align: center;
  background-color: #c8c8c8;
}

.subTitle h2 {
  font-size: 25px;
}

.bookCard {
  border: 1px solid black;
  transition: box-shadow 0.5s linear;
  margin: 0.5em;
  min-height: 310px;
}

@media (min-width: 768px) {
  .bookCard {
    min-height: 200px;
  }
}

@media (min-width: 992px) {
  .bookCard {
    min-height: 310px;
  }
}

.bookCard .card-link {
  text-decoration: none;
  color: #000;
}

.bookCard:hover {
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 5px #fc5185;
}

.breadcrumb {
  background-color: white !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.homeBreadcrump {
  color: blue !important;
  cursor: pointer;
}

.apiLink {
  color: #40bcf9;
}

.apiLink:hover {
  text-decoration: none;
}

.amazonLink {
  color: white;
}

.amazonLink:hover {
  color: #e68f2c;
  text-decoration: none;
}

.footer {
  flex-shrink: 0;
}

.landing-title,
.book-detail-subtitle,
.breadcrumb-link {
  color: #000bad;
}

.breadcrumb-link:hover {
  text-decoration: none;
  color: #111025;
}

.landing-subtitle {
  color: #222042;
}

.pagination-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination-row .page-item .page-link {
  color: #343a34;
}

.pagination-row .page-item .page-link:hover {
  background-color: #c8c8c8;
  border-color: #c8c8c8;
  color: #000bad;
}

.pagination-row .page-item.active .page-link {
  background-color: #343a34;
  border-color: #343a34;
  color: #ffffff;
}

.pagination-row .page-link {
  padding: 10px;
}

@media (min-width: 450px) {
  .pagination-row .page-link {
    padding: 10px 15px;
  }
}
