html,
body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.navTitle:hover,
.apiLink:hover {
    color: rgb(230, 143, 44) !important;
}

.subTitle {
    text-align: center;
    background-color: rgb(200, 200, 200);
}

.subTitle h2 {
    font-size: 25px;
}

.bookCard {
    border: 1px solid black;
    transition: box-shadow 0.5s linear;
    margin: 0.5em;
}

.bookCard:hover {
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px #FC5185;
}

.breadcrumb {
    background-color: white !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.homeBreadcrump {
    color: blue !important;
    cursor: pointer;
}

.apiLink {
    color: #5c98d8;
}

.apiLink:hover {
    text-decoration: none;
}

.amazonLink {
    color: white;
}

.amazonLink:hover {
    color: rgb(230, 143, 44);
    text-decoration: none;
}